In [35]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

In [36]:
# Modelling Algorithms
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import PassiveAggressiveClassifier

# Modelling Helpers
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import metrics

# Computations
import itertools

# Visualization
import matplotlib.pyplot as plt

In [37]:
test  = pd.read_csv ("test.csv")
submit  = pd.read_csv ("submit.csv")

In [38]:
train = pd.read_csv("test.csv")

In [39]:
train.head()

      id  ...                                               text
0  20800  ...  PALO ALTO, Calif.  —   After years of scorning...
1  20801  ...  Russian warships ready to strike terrorists ne...
2  20802  ...  Videos #NoDAPL: Native American Leaders Vow to...
3  20803  ...  If at first you don’t succeed, try a different...
4  20804  ...  42 mins ago 1 Views 0 Comments 0 Likes 'For th...

[5 rows x 4 columns]

In [40]:
print(f"Train Shape : {train.shape}")
print(f"Test Shape : {test.shape}")
print(f"Submit Shape : {submit.shape}")

Train Shape : (5200, 4)
Test Shape : (5200, 4)
Submit Shape : (5200, 2)

In [41]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5200 non-null   int64
 1   title   5078 non-null   object
 2   author  4697 non-null   object
 3   text    5193 non-null   object
dtypes: int64(1), object(3)
memory usage: 162.6+ KB

In [42]:
train.isnull().sum()

id          0
title     122
author    503
text        7
dtype: int64

In [43]:
train.dtypes.value_counts()

object    3
int64     1
dtype: int64

In [44]:
test=test.fillna(' ')
train=train.fillna(' ')

In [45]:
# Create a column with all the data available
test['total']=test['title']+' '+test['author']+' '+test['text']
train['total']=train['title']+' '+train['author']+' '+train['text']

In [46]:
# Have a glance at our training set
train.info()
train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5200 non-null   int64
 1   title   5200 non-null   object
 2   author  5200 non-null   object
 3   text    5200 non-null   object
 4   total   5200 non-null   object
dtypes: int64(1), object(4)
memory usage: 203.2+ KB

      id  ...                                              total
0  20800  ...  Specter of Trump Loosens Tongues, if Not Purse...
1  20801  ...  Russian warships ready to strike terrorists ne...
2  20802  ...  #NoDAPL: Native American Leaders Vow to Stay A...
3  20803  ...  Tim Tebow Will Attempt Another Comeback, This ...
4  20804  ...  Keiser Report: Meme Wars (E995) Truth Broadcas...

[5 rows x 5 columns]

Hi WAIT ............

This is Just Small Demo. 

Full Code is long... 

Full Project is Available with Porject Report and PPT.

##Mail me at **Vatshayan007@mail.com** to get this project.